<main class='grid grid-cols-5'>
  <% current_user?(@user) ? page = 'profile' : page = 'none' %>
  <div class='z-40 col-span-1 bg-gray-900 text-white h-screen sticky top-0'>
    <%= render 'shared/current-user', page: 'home' %>
  </div>

  <div class='col-span-4 flex flex-col'>
    <div class='sticky top-0'>
      <%= render 'shared/header'%>
    </div>
    <div class='grid grid-cols-4'>
      <div class='col-span-3 border-r-2 h-screen '>
        <div class="cover-image-div">
          <%= image_tag(cover_image(@user.coverimage), :class =>'cover-image')%> 
        </div>
        <%= render 'shared/feed' %>
      </div>

      <div class='col-span-1 pt-4'>
        <%= render 'shared/user-profile' %>
      </div>
    </div>
  </div> 

</main>
