<div class='flex flex-col items-center p-5 m-auto'>
      <div class=''>
          <%= image_tag(photo(@user.photo), :class =>'h-18 w-18 rounded-full')%>
      </div>
      <div class='text-center pr-7 py-7'>
        <h3>
          <%= @user.fullName.upcase %>
        </h3>
      </div>
    </div>

    <hr>

    <section class='flex flex-row justify-center text-center m-auto'>
      <div class=' has-text-centered px-5 py-2 border-r-2'>
        <h3><%= @user.followers.count %></h3> 
        <h4>Followers</h4>
      </div>
      <div class=' has-text-centered px-5 py-2'>
        <h3><%= @user.following.count %></h3> 
        <h4>Following</h4>
      </div>
      <div class=' has-text-centered px-5 py-2'>
        <h3><%= @talks.count %></h3>
        <h4>Talks</h4>
      </div>
    </section>
    <hr>
    <section class='m-2'>
      <h3>
        FOLLOWED BY
      </h3>
      <%= render 'shared/who-to-follow' %>
    </section>